scikit-learn
regex
packaging
tqdm
torch==2.0.1+cu118 --index-url https://download.pytorch.org/whl/cu118
torchvision==0.15.2+cu118 --index-url https://download.pytorch.org/whl/cu118
torchaudio==2.0.2 --index-url https://download.pytorch.org/whl/cu118
dgl==1.1.2+cu118 -f https://data.dgl.ai/wheels/cu118/repo.html
dglgo -f https://data.dgl.ai/wheels-test/repo.html
torch_geometric
torch_scatter -f https://data.pyg.org/whl/torch-2.0.0+cu118.html
torch_sparse -f https://data.pyg.org/whl/torch-2.0.0+cu118.html
torch_cluster -f https://data.pyg.org/whl/torch-2.0.0+cu118.html
torch_spline_conv -f https://data.pyg.org/whl/torch-2.0.0+cu118.html